[submodule "deps/anjay"]
	path = deps/anjay
	url = https://github.com/AVSystem/Anjay.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "firmware_update/pico_fota_bootloader"]
	path = firmware_update/pico_fota_bootloader
	url = https://github.com/JZimnol/pico_fota_bootloader
